@tailwind base;
@tailwind components;
@tailwind utilities;


#messages-container{
    border: 1px #525762 solid;
    min-height: 50px;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
#messages-container .current-user{
    text-align: right;
    background-color: #525762;
    padding: 2px;
}

#messages-container .current-user,
#messages-container .other-user{
    position: relative;
    margin-bottom: 10px;
    clear: both;
    width: auto;
}

#error-container:empty{
    display: none;
}
#error-container{
    color: #B65B5F;
}
